@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Inika:wght@400;700&display=swap');
@font-face {
  font-family: 'Freehand';
  src: url('./assets/fonts/Freehand.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*The bases*/
body {
  background-color: #4B0A13;
  color: #D39AA6;
}